html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*fonts*/
/*colors*/
/*Screen size media queries*/
body {
  font-family: "Bellefair", serif;
}

/*NavBar*/
.nav .nav-menu {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 2.7px;
  color: #ffffff;
}
@media screen and (min-width: 600px) {
  .nav .nav-menu {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2.36px;
    color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  .nav .nav-menu {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
    color: #ffffff;
  }
}

/* HOME */
.home-subtitle {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
}
@media screen and (min-width: 600px) {
  .home-subtitle {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }
}
@media screen and (min-width: 1200px) {
  .home-subtitle {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }
}

.home-title {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 80px;
  line-height: 100px;
}
@media screen and (min-width: 600px) {
  .home-title {
    font-size: 150px;
    line-height: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .home-title {
    font-size: 150px;
    line-height: 172px;
  }
}

.home-paragraph {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #d0d6f9;
  font-weight: 400;
}
@media screen and (min-width: 600px) {
  .home-paragraph {
    font-size: 16px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .home-paragraph {
    font-size: 18px;
    line-height: 32px;
  }
}

.btn-explore {
  font-family: "Bellefair", serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.25px;
  color: #0b0d17;
}
@media screen and (min-width: 600px) {
  .btn-explore {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
  }
}

.nav-menu .nav-burger {
  position: absolute;
  top: 30px;
  right: 28px;
  height: 21px;
  width: 24px;
  z-index: 2;
}
.nav-menu .nav-links {
  display: none;
}
.nav-menu .nav-active {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
  padding-top: 120px;
  width: 67vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
}
.nav-menu .nav-link {
  display: flex;
}
.nav-menu .nav-link a {
  text-decoration: none;
  color: #ffffff;
}
.nav-menu .nav-link a:active {
  color: blueviolet;
}
.nav-menu p {
  font-weight: 700;
  margin: 0 10px 0 20px;
}

@media screen and (min-width: 600px) {
  .nav-menu .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 450px;
    height: 96px;
    background: rgba(255, 255, 255, 0.08);
  }
  .nav-menu .nav-burger {
    display: none;
  }
}
@media screen and (min-width: 600px) and (min-width: 1200px) {
  .nav-menu .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    width: 65vw;
    height: 96px;
    background: rgba(255, 255, 255, 0.08);
  }
  .nav-menu .nav-links .nav-home {
    margin-left: 50px;
  }
  .nav-menu .nav-links .nav-tech {
    margin-right: 100px;
  }
}
.nav {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  height: 80px;
  width: 100vw;
}
.nav .nav-logo {
  height: 40px;
  width: 40px;
  margin: 20px 0 0 20px;
}
.nav .nav-menu {
  grid-column-start: 3;
}

.nav-line {
  display: none;
}

@media screen and (min-width: 600px) {
  .nav {
    height: 96px;
    grid-template-columns: 87px 1fr 450px;
  }
  .nav .nav-logo {
    height: 48px;
    width: 48px;
    margin: 24px 0 0 39px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-top: 40px;
  }
  .nav .nav-logo {
    margin: 24px 0 0 55px;
  }

  .nav-line {
    display: inline-block;
    position: absolute;
    height: 1px;
    width: calc(32vw - 50px);
    /*inset: 88px 11vw 0 0;*/
    right: 63vw;
    top: 105px;
    background: #ffffff;
    opacity: 0.25;
  }
}
.home-body {
  background: url("/assets/home/background-home-mobile.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .home-body {
    background: url("/assets/home/background-home-tablet.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .home-body {
    background: url("/assets/home/background-home-desktop.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}

.home-content {
  margin: 24px 24px 24px 24px;
}
@media screen and (min-width: 600px) {
  .home-content {
    margin: 106px 150px 0 150px;
  }
}
@media screen and (min-width: 1200px) {
  .home-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 58px 196px 128px;
    text-align: start;
    margin: 251px 165px 130px 165px;
  }
}

@media screen and (min-width: 1200px) {
  .home-subtitle {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.home-title {
  margin: 16px 0 16px 0;
}
@media screen and (min-width: 600px) {
  .home-title {
    margin: 24px 0 24px 0;
  }
}
@media screen and (min-width: 1200px) {
  .home-title {
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .home-paragraph {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 450px;
  }
}

.btn-explore {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 81px;
}
@media screen and (min-width: 600px) {
  .btn-explore {
    width: 242px;
    height: 242px;
    margin-top: 156px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-explore {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0px 0px 0px 0px;
    justify-self: end;
    margin-top: 80px;
  }
}

body {
  background-color: #0b0d17;
}
/*# sourceMappingURL=main.css.map */