@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

.nav-menu {
  .nav-burger {
    position: absolute;
    top: 30px;
    right: 28px;
    height: 21px;
    width: 24px;
    z-index: 2;
  }
  .nav-links {
    display: none;
  }
  .nav-active {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40px);
    padding-top: 120px;
    width: 67vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
  }
  .nav-link {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    margin-left: 12px;
    @include mix.tablet {
      margin-left: 0px;
      line-height: 90px;
    }
  }
  .nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    @include mix.tablet {
      border-bottom: rgba(255, 255, 255, 0.5) solid 3px;
      margin-bottom: -3px;
    }
  }
  p {
    font-weight: 700;
    margin: 0 10px 0 20px;
    @include mix.tablet {
      margin: 0 10px 0 0px;
    }
  }
}
@include mix.tablet {
  .nav-menu {
    .nav-links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      width: 450px;
      height: 96px;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40px);
    }
    .nav-burger {
      display: none;
    }
  }
  @include mix.desktop {
    .nav-menu {
      .nav-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        right: 0;
        width: 65vw;
        height: 96px;
        background: rgba(255, 255, 255, 0.08);
        .nav-home {
          margin-left: 50px;
        }
        .nav-tech {
          margin-right: 100px;
        }
      }
    }
  }
  .nav-current {
    pointer-events: none;
    border-bottom: white solid 3px;

    @include mix.tablet {
      border-bottom: white solid 3px;
      margin-bottom: -3px;
    }
  }
}
