@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

/* NAVBAR */
.nav {
  .nav-menu {
    font-family: var.$font2;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
    color: #ffffff;
  }
  @include mix.tablet {
    .nav-menu {
      font-family: var.$font2;
      font-size: 14px;
      line-height: 16.8px;
      letter-spacing: 2.36px;
      color: #ffffff;
    }
  }
  @include mix.desktop {
    .nav-menu {
      font-family: var.$font2;
      font-size: 16px;
      line-height: 19.2px;
      letter-spacing: 2.7px;
      color: #ffffff;
    }
  }
}

/* HOME PAGE*/
.home-subtitle {
  font-family: var.$font2;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  @include mix.tablet {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }
  @include mix.desktop {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }
}
.home-title {
  font-family: var.$font1;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 80px;
  line-height: 100px;
  @include mix.tablet {
    font-size: 150px;
    line-height: 150px;
  }
  @include mix.desktop {
    font-size: 150px;
    line-height: 172px;
  }
}
.home-paragraph {
  font-family: var.$font3;
  font-size: 15px;
  line-height: 25px;
  color: #d0d6f9;
  font-weight: 400;
  @include mix.tablet {
    font-size: 16px;
    line-height: 28px;
  }
  @include mix.desktop {
    font-size: 18px;
    line-height: 32px;
  }
}
.btn-explore {
  font-family: var.$font1;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.25px;
  color: #0b0d17;
  @include mix.tablet {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
  }
}

/* DESTINATION PAGE*/

.dest-sub {
  font-family: var.$font2;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  @include mix.tablet {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }
  @include mix.desktop {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }
  .dest-sub-num {
    font-weight: 700;
    opacity: 0.25;
  }
}
.dest-btn-container li button {
  font-family: var.$font2;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  color: #d0d6f9;
  @include mix.tablet {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }
}
.dest-name {
  font-family: var.$font1;
  font-size: 56px;
  line-height: 64px;
  color: #ffffff;
  @include mix.tablet {
    font-size: 80px;
    line-height: 92px;
  }
  @include mix.desktop {
    font-size: 100px;
    line-height: 115px;
  }
}
.dest-description {
  font-family: var.$font3;
  font-size: 15px;
  line-height: 25px;
  color: #d0d6f9;
  @include mix.tablet {
    font-size: 16px;
    line-height: 28px;
  }
  @include mix.desktop {
    font-size: 18px;
    line-height: 32px;
  }
}
.dest-dist {
  font-family: var.$font2;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  color: #d0d6f9;
}
.dest-dist-num {
  font-family: var.$font1;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}
.dest-time {
  font-family: var.$font2;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  color: #d0d6f9;
}
.dest-time-num {
  font-family: var.$font1;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}

/* CREW PAGE*/

.crew-content {
}
.crew-sub {
  font-family: var.$font2;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  @include mix.tablet {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }
  @include mix.desktop {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }
  .crew-sub-num {
    font-weight: 700;
    opacity: 0.25;
  }
  .crew-sub-txt {
  }
}
.crew-position {
  font-family: var.$font1;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.5;
  @include mix.tablet {
    font-size: 24px;
    line-height: 28px;
  }
  @include mix.desktop {
    font-size: 32px;
    line-height: 37px;
  }
}
.crew-name {
  font-family: var.$font1;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  @include mix.tablet {
    font-size: 40px;
    line-height: 46px;
  }
  @include mix.desktop {
    font-size: 56px;
    line-height: 64px;
  }
}
.crew-paragraph {
  font-family: var.$font3;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #d0d6f9;
  @include mix.tablet {
    font-size: 16px;
    line-height: 28px;
  }
  @include mix.desktop {
    font-size: 18px;
    line-height: 32px;
  }
}

/* Technology page */

.tech-sub {
  font-family: var.$font2;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  @include mix.tablet {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;
  }
  @include mix.desktop {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
  }
  .tech-sub-num {
    font-weight: 700;
    opacity: 0.25;
  }
}
.tech-sub-2 {
  font-family: var.$font2;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  color: #d0d6f9;
  @include mix.tablet {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }
}
.tech-name {
  font-family: var.$font1;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  @include mix.tablet {
    font-size: 40px;
    line-height: 46px;
  }
  @include mix.desktop {
    font-size: 56px;
    line-height: 64px;
  }
}
.tech-paragraph {
  font-family: var.$font3;
  font-size: 15px;
  line-height: 25px;
  color: #d0d6f9;
  @include mix.tablet {
    font-size: 16px;
    line-height: 28px;
  }
  @include mix.desktop {
    font-size: 18px;
    line-height: 32px;
  }
}
